.swap_erc20 {
  width: 48%;
  border: 1px solid #d9e0ec;
  border-radius: 0.75rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 60px;
  padding-right: 0.25rem;
}

.swap_erc20_image_container {
  min-width: 60px;
  min-height: 60px;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swap_erc20_image_container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: block;
}

.swap_erc20_text {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: calc(100% - 60px);
}

.swap_erc20_text p {
  margin: 0;
  max-width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
